*{
    margin: 0;
    padding: 0;
}

#sideNav{
    position: absolute;
    width: 300px;
    height: 100%;
    background: #1E1E24;
    left: -300px;
    transition: .5s;
}

#sideNav.active{
    left: 0;
}

#sideNav ul li{
    list-style-type: none;
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    padding: 30px 24px;
    text-transform: uppercase;
}

.toggle{
    display: block;
    color: #0E7777;
    font-size: 24px;
    float: right;
    padding: 5px;
    margin-right: 5px;

}

.toggle:hover{
    cursor: pointer;
}

.menu{
    color: #0E7777;
    font-size: 24px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}


#sideNavUL{
    top: 25%;
    position: absolute;
    z-index: 1;
}


#sideNavUL li a{
    text-decoration: none;
    color: #fff;
}

.link:after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #0E7777;
    transition: .3s;
}


.link:hover::after{
    width: 100%;
    transition: .3s;
}



#buttons{
    padding: 15px;
}

/* STYLES FOR THE TOP NAV */

#login, #signup{
    margin-left: 15px;
    float: right;
}

.topnav{
    color: #0E7777;
    float: right;
    font-size: 28px;
    cursor: pointer;
    margin: 15px 15px 0px -15px;
    line-height: 28px;
}

.topnav span{
    float: right;
}

.topnav:hover span::after{
    font-family: "Font Awesome 5 Free";
    content: "\f0d7";
    float: right;
    font-weight: 900;
    margin-right: 5px;
}


#userMenu{
    padding: 5px;
    display: none;
    line-height: 1%;
    

    animation-name: drop;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes drop{
    from{line-height: 1%}
    to {line-height: 100%;}
}


#userMenu ul li{
    list-style-type: none;
    text-align: right;
    cursor: pointer;
    margin-top: 25px;
}

#userMenu ul li:hover{
    color: #1E1E24;
}

#userMenu ul a{
    text-decoration: none;
    color: #0E7777;
}