.main{
    width: 60%;
    margin: 0 auto;
}

h1{
    text-align: center;
    color: #0E7777;
    margin: 10px;
    margin-bottom: 20px;

}

p{
    color: #1E1E24;
    padding: 5px;
}

